# Gitignore for boards

# Altera Quartus with Qsys
## Dirs
.qsys_edit/
db/
incremental_db/
mnSinglePcieDrv/
## Files
*.bak
*.bsf
*.chg
*.cmp
*.done
*.html
*.jdi
*.log
*.pin
*.qws
*.rpt
*.smsg
*.sof
*.sopcinfo
*.summary
*.pof
*.txt

*_epcs_flash_controller_boot_rom.hex
