.gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore

release.sh export-ignore

apps/firmware_update export-ignore
bin/ export-ignore
contrib/productiontest export-ignore
hardware/ export-ignore
drivers/ export-ignore
tools/windows/installer/PCIedriver.nsi export-ignore
tools/altera-nios2/ export-ignore
