.gitignore export-ignore
.gitattributes export-ignore
.gitmodules export-ignore

release.sh export-ignore

bin/ export-ignore
hardware/ export-ignore
drivers/ export-ignore
tools/windows/inf export-ignore
tools/windows/installer/PCIedriver.nsi export-ignore
